body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    color: #333;
    margin: 0;
    padding: 0;
}

#top {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

#middle {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child {
    border-bottom: none;
}

form {
    display: inline;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 60%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #9245a0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e9caf4;
}

.edit-form {
    display: none;
    flex-direction: column;
}

.edit-form input[type="text"] {
    margin: 5px 0;
}
